body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Roboto", "Open Sans", "arial" , "helvetica", "sans-serif";
  line-height: 150%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }


body,
html {
  font-weight: 400;
  color: #2E3941;
  position: relative;
  min-height: 100%; }

section {
  overflow: hidden; }

.divider {
  width: 80%;
  box-sizing: content-box;
  height: 0;
  margin: 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-width: 1px 0 0 0; }

.padded {
  padding: 30px;
}
.form-control {
  border: 1px solid #EEE;
  height: 35px;
  border-radius: 2px;
  margin-top: 5px;
  color: #888;
  background: #f7f7f7;
  margin-bottom: 20px;
  transition: all ease .25s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025); }

.form-control:focus {
  border: 1px solid #CCC;
  box-shadow: none;
  background: #FFF;
 }

#currencyConverter {
  background: #F5F5F5;
  height: 200px;
  padding: 20px;
  color: #A5A59E;
  width: 500px;
  border-radius: 2px;
  font-weight: 200;
}

.currencySelector {
  background: transparent;
  text-align: center;
}

.currencySelector *{
  font-weight: 200;
}

.modal-content {
  border-radius: 3px; }

.modal-body {
  background: #FFF;
}

.modal-body form {
  width: 80%;
  margin: 0 auto; }
  .modal-body form input {
    border: 1px solid #B7C1C5;
    outline: none;
    border-radius: 3px; }

fieldset {
  border: none;
  margin: 2em 0;
  padding: 0 0 1em 0;
  border-bottom: solid 1px #EEE; }
  fieldset.open {
    border-bottom: none; }
    fieldset.open .fancy-group {
      color: #0593E7;
      font-weight: bold; }
      fieldset.open .fancy-group .circularTextHolder {
        border: 2px solid #0593E7; }

legend {
  font-weight: bold; }

.navbar {
  background: #FFF;
  margin-bottom: 0;
  height: 70px;
  border-bottom: solid 1px transparent;
  border-bottom-color: #E9F0F3; }
  .navbar .navLinks {
    padding-top: 5px;
    text-shadow: 0 1px 2px rgba(6, 24, 63, 0.1); }

.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  padding: 19.5px 0; }

.navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a:focus {
  color: #717f86; }

.navbar-default .navbar-brand {
  font-weight:400;
  color: #2E3941; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:hover {
    color: #2E3941; }

.navbar-default .navbar-nav > li a {
  color: #2E3941;
  text-decoration: none;
  text-shadow: none; }
  .navbar-default .navbar-nav > li a:hover {
    color: #010F19;
    text-decoration: none;
    text-shadow: none; }

.navbar-toggle {
  background-color: #2E3941;
  border: none; }

.sidePadding {
  margin: 0 65px; }

footer {
  background: #f5f5f5;
}
footer .primary {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .secondary {
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(0,0,0,.05);
}
footer .secondary {
  margin-bottom: 0;
  color: #9E9EA6!important;
}
footer h4 {
  font-size: 14px;
  color: #2E3941;
  margin-bottom: 20px; }
footer a {
  text-align: left;
  font-size: 12px;
  transition: all ease-in .1s;
  font-weight: 200;
  color: #a0a0a2;
}
footer a:hover {
  text-decoration: none;
}
footer .socialIcons {
  color: #E7E7E7;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px; }

@media only screen and (min-width: 480px) and (max-width: 767px) {
.ghostForm, .blue, .white,
.blue,
.white {
  margin: 0 auto; } }

@media (max-width: 767px) {
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #FFF; }
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-header {
  height: 70px; }
.sectionText .textBox {
  padding: 5px 40px !important; }
.verticallyCenteredContainer, #sliderImgContainer, #howItWorks {
  display: inline-block !important; }
#sliderImgContainer {
  display: inline-block !important;
  text-align: center;
  width: 100%; }
  #sliderImgContainer .introContent {
    padding: 20px !important; }
    #sliderImgContainer .introContent .intro-text {
      padding: 0;
      margin-top: 40px; }
#conversionFormContainer {
  margin: 30px 0 !important;}
.transImg {
  display: none; }
#whyItWorks,
#howItWorks,
footer {
  padding-top: 50px;
  padding-bottom: 30px; }
  footer .firstCol,
  footer .thirdCol {
    padding: 0; }
  footer .copyright {
    text-align: center; }
  footer .col-md-4 {
    margin-bottom: 50px; }
.footer-primary {
  text-align: left; }
.img-responsive {
  margin: 0 auto; }
.hideOnMobile {
  display: none !important; }
.whyItWorks-item {
  margin-bottom: 10px !important; }
#appImages img {
  height: 200px;
  float: left;
  padding-right: 40px;
}

.ghostForm, .blue, .white,
.blue,
.white {
  margin-bottom: 10px; }
.jumboText {
  font-size: 4rem; }
.fancy:before, .fancy:after {
  width: 80px !important; }
.fancy:after {
  margin-left: 15px !important; }
.fancy:before {
  margin-right: 15px !important; }
.ghostButton.invertedGreen.lg,
.ghostButton.invertedBlue.lg {
  font-size: 18px !important;
  height: 45px !important;
  min-width: 190px !important; }
h2 {
  font-size: 2.8rem; } }

@media only screen and (min-width: 320px) {
#sliderImgContainer {
  display: block !important;
  margin-top: 200px; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
.navbar-right {
  margin-right: 0; }
#whyItWorks {
  padding: 40px 60px 0 60px !important;
}
  #whyItWorks .sectionText .textBox {
    padding: 5px 40px; }
#conversionFormContainer {
  margin-left: 0 !important; }
.jumboText {
  font-size: 50px !important; } }
.wide {
  width: 350px !important;
  height:: 30px !important;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
.introContent {
  margin-top: 9% !important;
  margin-bottom: 9% !important; } }

@media only screen and (max-width: 992px) {
.jumboText {
  font-size: 3em !important; }
  #downloadApps h2 {
    font-size: 23px; } }

@media only screen and (max-width: 480px) {
.jumboText {
  font-size: 2.5em !important; } }

@media (max-width: 767px) {
#wrapper {
  padding-left: 0; }
#sidebar-wrapper {
  left: 0; }
#wrapper.active {
  position: relative;
  left: 250px; }
#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s; }
#menu-toggle {
  display: inline-block; }
.inset {
  padding: 15px; } }

#wrapper {
margin-left: 240px; }

#sidebar-wrapper {
margin-left: -220px;
margin-top: 50px;
left: 220px;
width: 220px;
background: #010F19;
position: fixed;
height: 100%;
overflow-y: auto;
z-index: 1000;
border-right: 1px solid #02090E; }

#wrapper.active {
padding-left: 0; }
#wrapper.active #sidebar-wrapper {
  left: 0; }

#page-content-wrapper {
background: #FFF;
padding-top: 120px;
padding-bottom: 100px;
width: 100%; }

.sidebar-nav li a:hover,
.sidebar-nav li a:focus
{
color: #02d448;
border-color: #02d448;
background: #010F19;
text-decoration: none; }

.activeLink {
border-left-color: #02d448!important; }

.sidebar-nav li:hover {
border-left-color: #02d448; }

.activeLink * {
  color: #02d448 !important; }
.activeLink a span:before {
  color: #02d448 !important; }
.sidebar-nav .material-icons {
  float: left;
  padding-right: 30px;
}
.sidebar-nav {
position: absolute;
top: 70px;
width: 220px;
list-style: none;
margin: 0;
padding: 0; }
.sidebar-nav li {
  border-left: 3px solid;
  border-left-color: #010F19;
  line-height: 40px;
  text-indent: 20px;
  border-bottom: 1px solid #02090E; }
  .sidebar-nav li:first-child {
    border-top: 1px solid #02090E; }
  .sidebar-nav li a {
    color: #999999;
    height: 55px;
    display: block;
    padding-top: 20px;
    text-decoration: none; }
    .sidebar-nav li a:hover *, .sidebar-nav li a:focus * {
      color: #02d448; }
    .sidebar-nav li a span i {
      color: #41484c;
      font-size: 18px; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none; }

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 18px; }

.sidebar-nav > .sidebar-brand a {
color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
color: #fff; }

.content-header {
height: 65px;
line-height: 65px; }

.material-icons {
vertical-align: middle; }

.content-header h1 {
margin: 0;
margin-left: 20px;
line-height: 65px;
display: inline-block; }

#menu-toggle {
text-decoration: none; }

.btn-menu {
color: #000; }

.ghostButton, .ghostButton.defaultGreen, .ghostButton.defaultBlue, .ghostButton.invertedGreen, .ghostButton.invertedBlue {
padding: 8px 30px;
min-width: 130px;
height: 35px;
font-weight: 200;
text-align: center;
align-self: center;
transition: all ease-in .25s;
text-shadow: none !important;
background: transparent; }
.ghostButton:active, .ghostButton:visited, .ghostButton:focus {
  outline: none;
  text-decoration: none; }

.ghostButton.invertedGreen.lg, .ghostButton.invertedBlue.lg {
font-size: 18px;
text-align: center;
height: 45px;
width: 200px;
vertical-align: middle; }

.ghostButton {
-moz-border-radius: 9999px;
-webkit-border-radius: 9999px;
-o-border-radius: 9999px;
-ms-border-radius: 9999px;
-khtml-border-radius: 9999px;
border-radius: 9999px;
height: 35px;
color: #0593E7 !important;
border: 1px solid #0593E7; }
.ghostButton:hover {
  background: #0593E7;
  color: #FFF !important;
  text-decoration: none; }
.ghostButton.defaultGreen {
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -o-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -khtml-border-radius: 9999px;
  border-radius: 9999px;
  height: 35px;
  color: #02d448 !important;
  border: 1px solid #02d448; }
  .ghostButton.defaultGreen:hover {
    background: #02d448;
    color: #FFF !important;
    text-decoration: none; }
.ghostButton.defaultBlue {
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -o-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -khtml-border-radius: 9999px;
  border-radius: 9999px;
  height: 35px;
  color: #0593E7 !important;
  border: 1px solid #0593E7; }
  .ghostButton.defaultBlue:hover {
    background: #0593E7;
    color: #FFF !important;
    text-decoration: none; }
.ghostButton.invertedGreen {
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -o-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -khtml-border-radius: 9999px;
  border-radius: 9999px;
  height: 35px;
  color: #02d448 !important;
  border: 1px solid #02d448;
  background: #02d448 !important;
  color: #FFF !important; }
.ghostButton.invertedGreen:hover {
  background: #02d448;
  color: #FFF !important;
  text-decoration: none; }
.ghostButton.invertedGreen:hover, .ghostButton.invertedGreen.ghost {
  background: transparent !important;
  color: #02d448 !important; }
.ghostButton.invertedGreen.ghost:hover {
  background: #02d448!important;
  color: #FFF !important;
  text-decoration: none; 
}
.ghostButton.invertedBlue {
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -o-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -khtml-border-radius: 9999px;
  border-radius: 9999px;
  height: 35px;
  color: #0593E7 !important;
  border: 1px solid #0593E7;
  background: #0593E7 !important;
  color: #FFF !important; }
  .ghostButton.invertedBlue:hover {
    background: #0593E7;
    color: #FFF !important;
    text-decoration: none; }
  .ghostButton.invertedBlue:hover {
    background: transparent !important;
    color: #0593E7 !important; }
.ghostButton.fixedWidth {
  width: 200px; }

.buttonHolder {
height: 60px;
display: flex;
justify-content: center; }

.paddedBtn {
height: 43px !important;
margin-left: 10px; }

.socialBtn {
border: none;
outline: none;
padding: 11px;
border-radius: 3px; }
.socialBtn.google {
  background: #DC4A38;
  color: #FFF;
  border: 1px solid #DF6B5D; }
.socialBtn.facebook {
  background: #FFF;
  color: #45629D;
  border: 1px solid #45629D; }

.ghostForm, .blue, .white {
max-width: 500px;
width: 100%;
padding: 0 20px;
height: 40px;
background: transparent;
border-radius: 9999px; }

.blue {
border: 1px solid #0593E7; }
.blue:active, .blue:focus {
  border: 1px solid #FFF;
  color: #FFF;
  outline: none; }

.white {
border: 1px solid #FFF;
padding: 5px 20px; }
.white:active, .white:focus {
  border: 1px solid #0593E7;
  color: #0593E7;
  outline: none; }

.sideMargin {
margin-left: 20px;
margin-right: 20px; }

.paddingTopXsm {
padding-top: 10px; }

.paddingBottomSm {
padding-bottom: 25px; }

.paddingBottomMd {
padding-bottom: 50px; }

.marginSm {
margin: 25px 0; }

.marginMd {
margin: 50px 0; }

.marginLg {
margin: 75px 0; }

.borderLeft {
border-left: 1px solid #E5E5E5;
height: 100%; }

.blueText {
padding-top: 10px;
color: #0593E7; }

.signupInput {
width: 100% !important;
height: 45px; }

.modal-content {
background: linear-gradient(#F2F4F5, #F5F7F9); }

.paddingLg, #howItWorks, #whyItWorks {
padding: 80px; }

.paddingMd, .padded, #downloadApps {
padding: 50px; }

.paddingSm {
padding: 25px; }

.vMargin {
margin-top: 20px;
margin-bottom: 20px; }

.marginTopLg {
margin-top: 100px; }

.marginTopSm {
margin-top: 25px; }

.marginTopMd {
margin-top: 40px; }

.pushDown {
margin-top: 50px !important; }

.paddingTopSm {
padding-top: 25px; }

.vPadding30 {
padding: 30px 0; }

.paddingBottomSm {
padding-bottom: 25px; }

.paddingBottomMd {
padding-bottom: 50px; }

.marginSm {
margin: 25px 0; }

.marginMd {
margin: 50px 0; }

.marginLg {
margin: 75px 0; }

body .vegas-container {
position: relative; }

#sliderImgContainer, #howItWorks {
display: flex; }

#sliderImgContainer > *, #howItWorks > * {
  align-self: center; }

#sliderImgContainer {
min-height: 500px;
height: 100%;
position: relative;
margin-top: 60px;
color: #FFF;
text-shadow: 0 2px 3px rgba(255, 255, 255, 0.15);
background: #02101A; }
#sliderImgContainer input[type="text"] {
  font-size: 1em;
  height: 35px; }
#sliderImgContainer .vegas-slide {
  background: linear-gradient(rgba(5, 45, 69, 0.86), rgba(0, 0, 0, 0.99)); }
#sliderImgContainer .introContent {
  margin-top: 8%;
  width: 100%; }
#sliderImgContainer .intro-text {
  padding-left: 13%; }

#conversionFormContainer {
margin-left: 50px;
min-height: 200px;
height: 100%;
position: relative;
padding: 20px;
color: #B7C1C5;
font-size: 18px;}
#conversionFormContainer .feeBox {
  height: 30px; }
#conversionFormContainer .shortForm {
  width: 100px; }
#conversionFormContainer #conversionForm input[type="number"] {
  box-shadow: none;
  border-radius: 0;
  height: 40px;
  font-size: 20px; }


.jumboText {
  font-size: 65px;
  margin: 0;
  line-height: 125%;
  font-weight: 200;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.15); }

.lightTitle {
font-weight: 100; }

#howItWorks {
  background: #1B95E4;
  color: #FFF;
  padding: 55px; }

.howItWorksImg {
  text-align: center;
  height: 100px;
}
.howItWorksImg i {
  font-size: 50px;
}

#whyItWorks {
  color: #333;
  font-weight: 600;
  background-color: #FFF;
  border-top: solid 1px #e9f0f3;
  border-bottom: solid 1px #e9f0f3; }

#downloadApps {
  background: url("http://res.cloudinary.com/doy1ofzki/image/upload/v1466680969/footerbg_c4bsxf.jpg") no-repeat center center #084163;
  background-size: cover;
  color: #FFF; }

#appImages {
  margin: 40px;
}

#appImages img {
  max-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.imgHolder {
  max-width: 110px;
  width: 100%;
  height: 170px;
  text-align: center;
  margin: 0 auto; }
  .imgHolder img {
    width: 100%; }

.responsiveImg {
  width: 100%; }

.transImg i {
  font-size: 40px;
  margin-top: 40px;
}

#steps {
  width: 550px;
  margin: 50px auto;
  text-align: center;
}

.step {
  width: 60px;
  height: 60px;
  background-color: #FFF;
  display: inline-block;
  border: 4px solid;
  border-color: transparent;
  border-radius: 50%;
  color: #1b95e4;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  line-height: 50px;
}
.step:before {
    background-color: #FFF;
}
.step:nth-child(n+2) {
  margin: 0 0 0 100px;
  transform: translate(0, -4px);
}
.step:nth-child(n+2):before {
  width: 75px;
  height: 3px;
  display: block;
  background-color: #FFF;
  transform: translate(-95px, 21px);
  content: '';
}

.step:after {
  width: 150px;
  padding-top: 30px;
  display: block;
  transform: translate(-55px, 3px);
  color: #eee;
  content: attr(data-desc);
  font-weight: 400;
  font-size: 16px;
}
.step:first-child:after {
  transform: translate(-55px, -1px);
}

.whyItWorks-item {
  text-align: center;
  margin-bottom: 100px;
  height: 220px; }

.sectionImage i {
  color: rgb(119, 119, 119);;
  border-radius:  50%;
  text-align: center;
  margin: 15px auto;
  font-size: 60px;
  }

.sectionText h4 {
  color: #2E3941; }

.sectionText .textBox {
  font-weight: 500;
  padding: 5px 80px; }
  .sectionText .textBox * {
    color: #777;
    line-height: 175%; }

.marginTop {
  padding-top: 50px; }

.paddingBottomSm {
  padding-bottom: 25px; }

.paddingBottomMd {
  padding-bottom: 50px; }

.marginSm {
  margin: 25px 0; }

.marginMd {
  margin: 50px 0; }

.marginLg {
  margin: 75px 0; }

.vPaddingSm {
  padding-top: 25px;
  padding-bottom: 25px; }

.vPaddingMd {
  padding-top: 50px;
  padding-bottom: 50px; }

.hCentered {
  margin: 0 auto; }

.vCentered {
  display: flex;
  justify-content: center;
}

.vCentered > * {
  align-self: center; }

.clearPadding {
  padding: 0; }

.clearMargin {
  margin: 0; }
.clearfloat {
  clear: both;
  float: none;
}

.bolder {
  font-weight: 900 !important;
  text-shadow: 0 1px 0 #FFF; }

.customLabel * {
  color: #828787; }

.pullUp {
  margin-top: -50px; }

.circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  border: 2px solid #EEEEEE;
  text-align: center;
  font-size: 33.33333px;
  margin: 0 auto; }
  .circle.lg {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    border: 2px solid #EEEEEE;
    text-align: center;
    font-size: 50px;
    margin: 0 auto; }
  .circle.md {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    border: 2px solid #EEEEEE;
    text-align: center;
    font-size: 25px;
    margin: 0 auto; }
  .circle.sm {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    border: 2px solid #EEEEEE;
    text-align: center;
    font-size: 15px;
    margin: 0 auto; }

.whiteContentArea {
  height: 100%;
  background: #FFF;
  margin-top: 70px;
  padding: 30px 0; }
  .whiteContentArea .pageBodyButtons {
    margin: 40px 0; }
  .whiteContentArea ul {
    padding: 0;
    margin-bottom: 100px; }
    .whiteContentArea ul li {
      list-style: none; }

.transparentCard {
  border: 1px solid #EEE;
  overflow: auto;
  border-radius: 2px;
  height: auto;
  padding: 40px; }

.thumbnailHolder {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  width: 60px; }

.submitButtonHolder {
  margin: 50px auto; }

.postInfo {
  margin: 20px 0; }
  .postInfo .iconPrefixedText {
    margin: 40px 0; }

.confirmationReceipt {
  margin-bottom: 50px; }

.circularTextHolder {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #EEEEEE;
  height: 20px;
  width: 20px;
  overflow: auto;
  padding: 8px;
  margin-right: 10px;
  text-align: center; }
  .circularTextHolder.lg {
    height: 100px;
    width: 100px; }
  .circularTextHolder.md {
    height: 50px;
    width: 50px; }

#transactionDetailsTable {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  color: #2E3941; }
  #transactionDetailsTable tr {
    margin: 20px 0; }
    #transactionDetailsTable tr td:last-child {
      margin-left: 50px; }

#profile {
  display: none; }

.subfield {
  overflow: hidden; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: #FFF;
}

.dropdown-menu {
  border-radius: 0;
  border: 1px solid #EFEFEF;
}

.dropdown-menu:before {
  position: absolute;
  top: -9px;
  right: 13px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #EFEFEF;
  border-left: 9px solid transparent;
  border-bottom-color: #EFEFEF;
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -8px;
  right: 14px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  border-left: 8px solid transparent;
  content: '';
}

.dropdown-menu .divider {
  height: 0;
}

.customPanel {
  border: 1px solid #EFEFEF;
  border-radius: 0;
  margin-top: 20px;
}

.personalInfoBlock p {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.personalInfoBlock hr {
  margin-top: 15px;
}
.personalInfoBlock h4 {
  margin-bottom: 0;
}

.profileInformation .nav-tabs {
  border-bottom: 3px solid #02d348;
}

.profileInformation .nav-tabs > li > a {
  border-radius: 0;
  color: #333;
  padding: 15px;
}

.profileInformation .nav-tabs > li.active > a,
.profileInformation .nav-tabs > li.active > a:hover,
.profileInformation .nav-tabs > li.active > a:focus {
  background: #02d348;
  color: #FFF;
  border: 1px solid #02d348;
}

.profileInformation .nav-tabs {
  background: #f7f7f7;
}

.text-left {
  text-align: left;
}
.panel-title {
  font-size: 14px;
}
.panel-group .panel {
  border-radius: 1px;
}

.focused {
  background: #FFF;
}
.panel > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-radius: 0;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  color: #333;
  background-color: #F5F5F5;
  border-color: #EEE;
}
a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
  background-color: #F9F9F9;
}

.formBlock .amountInput {
  border: 1px solid #B7C1C5;
  height: 80px;
  background: #FFF;
}

.formBlock.form-group,
.formBlock .row
 {
  margin: 0!important;
}

.formBlock label {
  font-size: 12px;
  margin: 0;
  color: #334455;
}

.formBlock .form-control {
  margin-bottom: 0;
  margin-top: 0;
  background: none;
  color: #334455;
  border: none;
}

.currencySelectBtn{
  height: 68px!important;
  width: 100%;
  padding: 0;
  text-align: left;
  background: transparent;
  color: #888;
  font-size: 23px;
}

.btn:focus,
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus,
.currencySelectBtn:active,
.currencySelectBtn:hover,
.currencySelectBtn:focus,
.currencySelectBtn:visited {
  color: #888;
  outline: none;
  box-shadow: none;
}

.currencyValueInputForm {
  height: 50px;
  font-size: 35px;
  color: #888;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.currencyValueInputForm:active,
.currencyValueInputForm:focus {
  border: none;
  border-bottom: 1px solid #BBB;
  box-shadow: none;
  background: transparent;
}

.border-between > [class*='col-']:before {
 background: #ABABAB;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}
.leftPadding30 {
  padding-left: 30px;
}
.open > .dropdown-menu {
  width: 100%;
}


.conversionFormLabel {
  color: #888;
  font-weight: normal;
}

.flagThumb img {
  width: 50px;
  margin: 0 auto;
  padding-right: 20px;
}

label {
  font-weight: normal;
  margin-bottom: 0;
}

.formBorder {
  border-bottom: 1px solid #EEE;
}

.d-accordion .panel-default > .panel-heading {
  transition:background-color 0.5s ease-in-out;
  font-weight: bold;
}

.d-accordion .panel-default > .panel-heading:hover {
  background: #E0E0E0;
}

.d-accordion .panel-default > .panel-heading .spinner:before {
  content: "+";
  font-size:1.2em;
  float:left;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.d-accordion .panel-default > .panel-heading:not(.collapsed) .spinner:before {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  -webkit-transform: rotateZ(225deg);
  -moz-transform: rotateZ(225deg);
  -o-transform: rotateZ(225deg);
  -ms-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
}

.subscribe {
  padding: 30px 0;
  max-width: 480px;
  margin: 0 auto;
}

.subscribe .input-group input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 45px!important;
  background: transparent;
  border: 1px solid #02d348;
  transition: all 0.5s ease-in-out;
  padding-left: 20px;
  font-size: 18px;
}

.subscribe .input-group .input-group-btn button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 45px;
  width: 125px;
  background: #02d348;
  border:1px solid #02d348;
  color: #FFF;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.subscribe .input-group .input-group-btn button:active,
.subscribe .input-group .input-group-btn button:hover,
.subscribe .input-group .input-group-btn button:focus {
  outline: none;
  color: #333;
}

.subscribe .input-group input:focus,
.subscribe .input-group input:active {
  color: #333;
}

.subscribe .input-group input:focus::-webkit-input-placeholder {
  color: #333;
}

.w400 {
  max-width: 400px;
}

.authformLabel {
  font-weight: 100;
  font-size: smaller;
}

a {
  font-family: 'Open Sans';
  text-shadow: none;
  font-weight: 200;
  font-size: 12px
}

.socialMediaIcons {
  width: 30%;
  font-size: 18px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.socialMediaIcons a {
  font-size: 16px;
}

.socialMediaIcons a.facebook:hover {
  color: #3b5998;
}

.socialMediaIcons a.twitter:hover {
  color: #55acee;
}

.socialMediaIcons a.instagram:hover {
  color: #e95950;
}

.panel {
  border-radius: 2px;
}

.label {
  font-weight: normal;
  font-size: 90%;
  width: 200px;
  text-align: center;
}

.label-success {
  background-color: #02d448;
}

.label-warning {
  background-color: #efc72e;
}

.label-danger {
  background-color: #e23d3d;
}

.label-info {
  background-color: #38bee6;
}

.emphasize {
  font-size: 14px;
  color: #0593E7;
}

.amount {
  font-size: 16px;
  padding-left: 10px;
  font-weight: normal;
  color: #707477;
}

#transactions p {
  font-size: 12px;
}

#transactions h5 {
  margin-top: 0;
  text-decoration: underline;
}